<%# <div data-create-review-target="createReviewForm" class="create-review-form d-none m-3 d-flex">
  <%= simple_form_for [@review], html: { class: "p-0 row" } do |f| %>
    <%# <div class="col-md-6">
      <%= f.input :rating,
                  label: "Rating:",
                  label_html: { class:"card-text"}
          f.input :offer_id, :as => :hidden,
                  :input_html => { :value => @offer.id }
      %>
    <%# </div>
    <%= f.submit "Rate this owner", class:"btn btn-primary btn-gradient-oval"%>
  <%# <% end %>
<%# </div> %> %> %> %> %>
