<div class="dashabord-container d-flex" data-controller="dashboard">
  <div class="sidebar">
    <button class="sidebar-btn active" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">
      <i class="fas fa-list"></i> Listings
    </button>
    <button class="sidebar-btn" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">
      <i class="fas fa-tags"></i> Offers
    </button>
    <button class="sidebar-btn" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">
      <i class="fas fa-cog"></i> Settings
    </button>
    <%= link_to destroy_user_session_path, method: :delete, class: "sidebar-btn text-decoration-none" do %>
      <i class="fas fa-sign-out-alt"></i> Log out
    <% end %>
  </div>

  <div class="dashboard-body-container w-100">
    <div data-dashboard-target="listings">
      <%= render "dashboard_listings" %>
    </div>
    <div data-dashboard-target="offers" class="d-none">
      <%= render "dashboard_offers" %>
    </div>
    <div data-dashboard-target="settings" class="d-none">
      <%= render "users/user_form" %>
    </div>
  </div>
</div>
