<div class="dashboard-tabs-container w-100 d-flex">
  <button class="dashboard-tabs w-100 text-center">Listings</button>
  <button class="dashboard-tabs w-100 text-center">Offers</button>
</div>

<div class="dashboard-body-container w-100">
  <%= render "dashboard_listings" %>
  <%= render "dashboard_offers" %>
</div>
