<div class="dashabord-container d-flex" data-controller="dashboard">
  <div class="sidebar">
    <button class="sidebar-btn active" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">Listings</button>
    <button class="sidebar-btn" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">Offers</button>
    <button class="sidebar-btn" data-dashboard-target="dashboardTabs" data-action="click->dashboard#tab">Settings</button>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "sidebar-btn" %>
  </div>

  <div class="dashboard-body-container w-100">
    <div data-dashboard-target="listings">
      <%= render "dashboard_listings" %>
    </div>
    <div data-dashboard-target="offers" class="d-none">
      <%= render "dashboard_offers" %>
    </div>
    <div data-dashboard-target="settings" class="d-none">

    </div>
  </div>
</div>
