// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color scheme
$primary-color: #3138cd;
$secondary-color: #7b14d5;
$background-color: #f8f9fa;
$text-color: #111;
$border-color: #ced4da;
$hover-color: #020653;
