

<div data-create-offer-target="createOfferForm" class="create-offer-form d-none m-3 d-flex">
  <div class="col-md-6">
  <%= simple_form_for [@listing, @offer] do |f| %>
    <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
  </div>
  <div class="col-md-6">
      <%= f.input :comments, label: "Write a comment to this game owner." %>
      <%= f.submit "Send a request", class:"btn btn-info"%>
    <% end %>
  </div>
</div>
