<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="price-range">Price range</label>
  <input type="range" min="1" max="100" value="50" class="price-range-slider" id="price-range" name="price-range">
</div>

<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="distance">Distance</label>
  <input type="range" min="1" max="100" value="50" class="distance-slider" id="distance" name="distance">
</div>

<div class="platform-checkboxes-container">
  <label for="playstation5">PS5</label>
  <input type="checkbox" id="playstation5" name="playstation5">

  <label for="xboxseriesxs">Xbox Series X/S</label>
  <input type="checkbox" id="xboxseriesxs" name="xboxseriesxs">

  <label for="playstation4">PS4</label>
  <input type="checkbox" id="playstation4" name="playstation4">

  <label for="xboxone">Xbox One</label>
  <input type="checkbox" id="xboxone" name="xboxone">

  <label for="PS5">PS5</label>
  <input type="checkbox" id="PS5" name="PS5">

  <label for="PS5">PS5</label>
  <input type="checkbox" id="PS5" name="PS5">
</div>

<div class="game-checkboxes-container">

</div>
