<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="price-range">Price range</label>
  <input type="range" min="1" max="100" value="50" class="price-range-slider" id="price-range" name="price-range">
</div>

<div class="slidecontainer d-flex align-items-center justify-content-evenly">
  <label class="" for="distance">Distance</label>
  <input type="range" min="1" max="100" value="50" class="distance-slider" id="distance" name="distance">
</div>

<div class="platform-checkboxes-container">
  <div class="d-flex">
    <input type="checkbox" id="playstation5" name="167" class="platform-checkboxes" data-platform-id="167">
    <label for="167">PS5</label>
  </div>

  <div class="d-flex">
    <input type="checkbox" id="xboxseriesxs" name="169" class="platform-checkboxes" data-platform-id="169">
    <label for="169">Xbox Series X/S</label>
  </div>


  <div class="d-flex">
    <input type="checkbox" id="nintendoswitch" name="130" class="platform-checkboxes" data-platform-id="130">
    <label for="130">Nintendo Switch</label>
  </div>


  <div class="d-flex">
    <input type="checkbox" id="pcmicrosoftwindows" name="6" data-platform-id="6">
    <label for="6">PC (Microsoft Windows)</label>
  </div>


  <div class="d-flex">
    <input type="checkbox" id="playstation4" name="48" class="platform-checkboxes" data-platform-id="48">
    <label for="48">PS4</label>
  </div>


  <div class="d-flex">
    <input type="checkbox" id="xboxone" name="49" class="platform-checkboxes" data-platform-id="49">
    <label for="49">Xbox One</label>
  </div>

</div>

<div class="game-checkboxes-container">

</div>
