html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.banner {
  position: relative;
  text-align: center;
}

.footer {
  background-color: #343a40;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-muted {
    color: #ffffff !important;
  }
}
