a{
  text-decoration: none;
}
.icon {
  color:  #555;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    color: #761ec8;
  }
}

.dashboard-listing div {
  display: flex;
  justify-content: center;
  gap: 16px;
}
