  <div class="search-bar-container">
    <div class="search-bar" data-controller="create-listing">
      <%= simple_form_for :search, url: listings_path, method: :get, html: { class: 'form-inline', data: { "filter-listings-target" => "submitForm" } } do |f| %>
        <%= f.input :query, label: false, placeholder: "Search for listings...", input_html: { value: params[:query], class: 'form-control mr-sm-2', data: { "create-listing-target": "gameNameInput" }, list: "game-list"}  %>
        <%= f.submit "Search", class: "btn btn-primary my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>

<datalist id="game-list"></datalist>
