<div class="messages-section">
  
</div>
<form action="" data-chats-target="messageForm">
  <input type="text" data-chats-target="messageText">
  <input type="submit" class="btn btn-primary">
</form>
