<div class="contianer mt-3">
  <div class="row">
    <div class="col-6">
      <h1><%#= @listing.game.name %></h1>
      <%# @listing.offers.each do |offer| %>
        <div class="card-product">
          <p><%#= @offer.start_date %></p>
          <p><%#= @offer.price %></p>
          <p><%#= @offer.comments %><p>
          <p>From <%#= @offer.user.email %></p>
        </div>
      <%# end %>
    </div>
  </div>
</div>
