.carousel {
  max-width: 100%;
  margin: 0 auto;

  .carousel-inner {
    border-radius: 5px;
  }
  // .carousel-item img {
  //   max-height: 400px;
  //   object-fit: cover;
  // }

  .carousel-item .card {
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 100%;

    &:hover {
      transform: scale(1.05);
    }

    .card-img-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .card-title {
        font-family: 'Rajdhani', sans-serif;
        font-weight: 700; // Bold font
        color: #111; // Dark color for high contrast
        text-transform: uppercase; // Uppercase for emphasis
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
      }

      .card-text {
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold; // Bold font
        color: #ff5722; // Distinct color for price
        margin-left: 10px;
      }
    }

    .btn {
      border-radius: 50px;
      padding: 10px 20px;
      font-size: 1rem;
      background: linear-gradient(90deg, #35398d, #7b14d5); // Gradient color
      color: #fff;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: linear-gradient(360deg, #020653, #020653);
      }
    }
  }

  .carousel-indicators {
    display: none; // Hide the carousel indicators
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
}
.carousel-wrapper {
  position: relative;

  .carousel-control {
    opacity: 0;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &:hover {
    .carousel-control {
      opacity: 1;
    }
  }
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 24px;
  height: 24px;
}

// Responsive design
@media (max-width: 767px) {
  .carousel-item .card {
    margin: 0 5px;
  }

  .card-img-top {
    height: 150px;
  }
}

@media (max-width: 575px) {
  .carousel-item .card {
    margin: 0 2px;
  }

  .card-img-top {
    height: 100px;
  }
}
