.navbar-lewagon {
  justify-content: space-between;
  background-color: #343a40; // Dark background color for navbar
  .nav-link {
    color: #ffffff; // White text color for navbar links
    &:hover {
      color: #dcdcdc; // Light gray color on hover
    }
  }
  .navbar-brand {
    color: #ffffff; // White text color for brand
    &:hover {
      color: #dcdcdc; // Light gray color on hover
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.unread-counter-container {
  width: 23px;
  height: 23px;
}

.unread-counter {
  margin: 0;
  font-size: 0.85rem;
}
